body {
  margin: 0 auto;
  margin-top: 200px;
}

#connectedUsersCount {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Courier;
  background-color: rgba(138, 89, 218, 0.712);
}

.nk-namebar-input {
  padding: 0 0.75rem;
  width: 16em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  font-family: 'estilo';
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1;

  position: absolute;
  top: 570px;
  margin-left: -130px;

  align-items: inherit;
  visibility: hidden;
  display: inline-block;
}

.nk-password-input {
  padding: 0 0.75rem;
  width: 16em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  font-family: 'estilo';
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1;

  position: absolute;
  top: 610px;
  margin-left: -130px;
}

.mu-namebar-input {
  padding: 0 0.75rem;
  width: 16em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  font-family: 'estilo';
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1;

  position: absolute;
  top: 570px;
  margin-left: -130px;

  align-items: inherit;
  visibility: hidden;
  display: inline-block;
}

.mu-password-input {
  padding: 0 0.75rem;
  width: 16em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  font-family: 'estilo';
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1;

  position: absolute;
  top: 610px;
  margin-left: -130px;
}

.mu-error-message {
  position: absolute;
  top: 500px;
  margin-left: -230px;
  background-color: rgb(255, 242, 219);
  font-size: 1em;
  font-family: 'estilo';
  color: red;
}

.error-message {
  position: absolute;
  top: 520px;
  margin-left: -230px;
  background-color: rgb(255, 242, 219);
  font-size: 1em;
  font-family: 'estilo';
  color: red;
}

.animacion {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

* {
  box-sizing: border-box;
}

input[type-text] {
  writing-mode: horizontal-tb;
  cursor: text;
}